@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<p>Будь ласка, увійдіть за допомогою вашого Auth0 акаунту.</p>
<a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login with Auth0</a>